---
import {basics} from '@cv'
import Section from '@/components/Section.astro'
import Mail from '@/assets/Mail.png'
import { Image } from 'astro:assets'

import image from '../../assets/foto_presentacion.png';
const {name, label, location,profiles,email, icon} = basics
const {city,region} = location


---

<Section>
<div class="container">
    <div class="info">
        <h1><span class="text-8xl font-bold text-purple-950 mt-10">{name} </span></h1>
<h2><span class="text-4xl font-bold text-cyan-600 mt-10">{label}</span></h2>
<span class="text-lg font-bold text-cyan-600 ">
    <!--Icono -->
    {city}, {region}
</span>
<footer>
    {email && (
        <a 
        href={`mailto: ${email}`}
        title= {`Enviar un correo electrónico a ${name} al correo ${email}`}
        target="_blank"
        rel="noopener noreferrer"
        
        >
            <figure>
                <img src={icon} alt="email" width="60px"/>
            </figure>
        
           
        </a>
    )
    }

    
    
</footer>
    </div>
    <figure>
        <Image src={image} alt={name} />
    </figure>

</div>
</Section>

<style>
 
</style>