---
import {basics} from '@cv'
import Section from '@/components/Section.astro'
import Mail from '@/assets/Mail.png'
import Phone from '@/assets/phone.png'
import GitHub from '@/assets/GitHub.png'
import Linkedin from '@/assets/Linkedin.png'
import { Image } from 'astro:assets'
import image from '../../assets/foto_presentacion.png'
import icon from '../../assets/Mail.png'
import icon_phone from '../../assets/Phone.png'
import icon_linkedin from '../../assets/Linkedin.png'
import icon_github from '../../assets/GitHub.png'


const {name, label, location,profiles,email,phone} = basics
const {city,region} = location

---

<Section>
<div class="container sm:max-w-full">
   <div class="photo_me "> 
    <figure class="">
        <Image src={image} alt={name} />
    </figure>
   </div>
    <div class="info  top-14 right-40">
        <h1><span class="  text-4xl font-bold text-purple-950 mt-10">{name} </span></h1>
       
<h2><span class="text-4xl font-bold text-cyan-600 mt-10">{label}</span></h2>
<span class="text-lg font-bold text-cyan-600 ">
  
    {city}, {region}
</span>

    </div>
    <div class="iconos_redes">
        <footer class="flex items-stretch ...">
            {email && (
                <a 
                href={`mailto: ${email}`}
                title= {`Enviar un correo electrónico a ${name} al correo ${email}`}
                target="_blank"
                rel="noopener noreferrer"
                
                >
                    <figure class="w-20" >
                        <Image src={icon} alt="email" />
                    </figure>
                
                   
                </a>
                
            )
            }
        
            {
                phone &&(
                    <a href={`tel:${phone}`}
                    title={`Llamar por teléfono a ${name} al número ${phone}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    >
         <figure class="w-20" >
                        <Image src={icon_phone} alt="email" />
                    </figure>
                    </a>
                )
            }

{
    Linkedin &&(
        <a href={`https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile`}
      title={`Perfil de ${name} `}
        target="_blank"
        rel="noopener noreferrer"
        >
<figure class="w-20" >
            <Image src={icon_linkedin} alt="Linkedin" />
        </figure>
        </a>
    )
}

            
        
        
           
            
               
        
            
        
        
        
        
        
            
        <figure class="w-20" >
            <Image src={icon_github} alt="email" />
        </figure>
            
        </footer>
    
    </div>
   
</div>
</Section>

<style>
 
</style>